/* Floating WebP Background */
.floating-bg {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: -1;
  overflow: hidden;
}

.floating-image {
  position: fixed;
  animation: floatImage infinite linear;
  animation-duration: 120s !important;
  opacity: 0;
}

.floating-image:nth-child(1) {
  top: 5%;
  left: -15%;
  width: 30%;
  animation-duration: 100s !important;
}

.floating-image:nth-child(2) {
  top: 50%;
  right: -10%;
  width: 50%;
  animation: floatImageReverse infinite linear;
  animation-delay: 5s;
}

.floating-image:nth-child(3) {
  bottom: 5%;
  left: -25%;
  width: 30%;
  animation-delay: 10s;
}

@keyframes floatImage {
  0% {
    transform: translateX(0) translateY(0) rotate(0deg) scale(0.8);
  }
  5% {
    opacity: 1;
  }
  10% {
    transform: translateX(20vw) scale(1) rotate(32deg);
    opacity: 1;
  }
  50% {
    transform: translateX(100vw) translateY(-100px) rotate(180deg) scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(0.9);
    opacity: 0;
  }
}

@keyframes floatImageReverse {
  0% {
    transform: translateX(0) translateY(0) rotate(0deg) scale(0.8);
  }
  10% {
    transform: translateX(-20vm) scale(1) rotate(32deg);
    opacity: 1;
  }
  50% {
    transform: translateX(-100vw) translateY(-100px) rotate(180deg) scale(1.1);
    opacity: 1;
  }
  100% {
    transform: scale(0.9);
    opacity: 0;
  }
}
