
.last-editions a {
    text-decoration: none;
    color: black;
    
}

.last-edition-articles-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 3fr));
    gap: 1.5rem;
}

.last-edition {
    padding: 2rem;
    border-radius: 8px;
    margin-bottom: 1.5rem;
    border: 1px var(--o-gray) solid;
    text-align: center;
    transition: color 0.3s ease, background-color 0.3s ease;
}


.last-edition h1 {
    margin: 10px;
    border: none;
    font-size: 5rem;
    text-align: center;

}

.last-edition:hover {
    color: white;
    background-color: var(--o-blue);
}