.main-nav {
  position: sticky;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  height: 50px;
  padding: 2px 30px;
  color: var(--o-blue);
}

.nav-logo {
  padding: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.nav-logo a,
.nav-logo img {
  height: 100%;
}

.nav-list {
  flex: 2 1 auto;
  display: flex;
  flex-direction: row;
  list-style: none;
  margin: 0;
  padding: 0;
  justify-content: right;
  gap: 15px;
  align-items: center;
  min-height: 60px;
}

.nav-item {
  position: relative;
  margin: 0;
  text-wrap: nowrap;
}

.nav-link {
  display: block;
  padding: 20px 24px;
  cursor: pointer;
  text-decoration: none;
  font-weight: 500;
  font-size: 16px;
  transition: all 0.3s ease;
}

.nav-link:hover {
  color: var(--o-green);
}

.nav-link.active {
  color: var(--o-orange);
}

.nav-link.ancestor {
  color: #6c757d;
  border-bottom-color: #6c757d;
}

#menu-button {
  display: none;
  padding: 0;
  border: 0;
  z-index: 100;
  background-color: transparent;
  min-width: 50px;
  height: 50px;
}

#menu-button i {
  font-size: 1.5rem;
}

@media screen and (max-width: 768px) {
  #menu-button {
    display: block;
    cursor: pointer;
  }

  #menu-button i {
    transition: 0.5s ease;
  }

  .nav-list {
    visibility: hidden;
    opacity: 0;
    position: absolute;
    width: 100%;
    transition: 0.5s ease;
    flex-direction: column;
  }

  .active-menu {
    visibility: visible;
    display: flex;
    padding-top: 50px;
    opacity: 1;
    backdrop-filter: blur(10px);
  }
}
