.organizers-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.organizers-container h3 {
  width: 100%;
  text-align: center;
  text-transform: capitalize;
}

.organizers-container h2 {
  margin-top: 50px;
}

.organizer {
  max-width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.organizer-info {
  width: 90%;
}

.organizer img {
  width: 90%;
  border-radius: 5px;
  margin: 10px;
}

.organizer h4 {
  text-align: center;
}

.team {
  display: flex;
  gap: 50px;
  flex-wrap: wrap;
  justify-content: center;
}
