.patrons-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 150px;
  grid-auto-flow: dense;
  justify-items: center;
  align-items: center;
}

.patron-img {
  max-width: 100%;
}

@media screen and (max-width: 768px) {
  .patrons-container {
    grid-template-columns: 1fr 1fr;
  }
}
