.sponsors {
  text-transform: uppercase;
  text-align: center;
}

.sponsors-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 100px;
}

.sponsor-img {
  max-width: 25%;
  height: auto;
}

.main-sponsor-img {
  max-width: 45%;
  height: auto;
}

@media screen and (max-width: 768px) {
  .sponsors-container {
    gap: 50px;
  }
  .sponsor-img {
    max-width: 30%;
  }

  .main-sponsor-img {
    max-width: 70%;
  }
}
