.sponsors {
  text-transform: uppercase;
  text-align: center;
}

.sponsors-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 100px;
}

.sponsor-img {
  width: 18%;
  height: auto;
  object-fit: contain;
  max-height: 150px;
}

.main-sponsor-img {
  width: 35%;
  height: auto;
  object-fit: contain;
  max-height: 150px;
}

.sponsors h2 {
  margin: 40px 0;
}

.patrons h2 {
  margin: 40px 0;
}


@media screen and (max-width: 1024px) {
  .sponsors-container {
    gap: 20px;
  }
  .sponsor-img {
    width: 40%;
  }

  .main-sponsor-img {
    width: 70%;
  }
}
