.sponsors {
  text-transform: uppercase;
  text-align: center;
}

.sponsors-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 100px;
}

.sponsor-img {
  max-width: 25%;
  height: auto;
    object-fit: contain;
    max-height: 150px;
}

.main-sponsor-img {
  max-width: 45%;
  height: auto;
    object-fit: contain;
    max-height: 150px;
}

.sponsors h2 {
  margin: 40px 0;
}

.patrons h2 {
  margin: 40px 0;
}


@media screen and (max-width: 768px) {
  .sponsors-container {
    gap: 20px;
  }
  .sponsor-img {
    max-width: 40%;
  }

  .main-sponsor-img {
    max-width: 70%;
  }
}
