{{ define "main" }}
  {{ if .Site.Params.enable_background_animations }}
    {{ partial
      "sections/background.html" .
    }}
  {{ end }}
  {{ partial "sections/banner.html" . }}

  {{ partial "sections/about.html" }}

  {{ if .Site.Params.show_schedule_section }}
    {{ partial "sections/schedule.html" . }}
  {{ end }}

  {{ if .Site.Params.show_registration }}
    {{ partial
      "sections/registration.html" .
    }}
  {{ end }}

  {{ if .Site.Params.show_map }}
    {{ partial "sections/map.html" }}
  {{ end }}

  {{ if .Site.Params.show_sponsors_section }}
    {{ partial "sections/sponsors.html" . }}
  {{ end }}

  {{ if .Site.Params.show_patrons_section }}
    {{ partial "sections/patrons.html" . }}
  {{ end }}

{{ end }}
