<section class="about" id="about">
  <h1>O konferencji</h1>
<div class="about-content">
      <p class="about-text">
      <strong
        >Ogólnopolska Matematyczna Konferencja Studentów „OMatKo!!!”</strong
      >
      to inicjatywa, która narodziła się na Politechnice Wrocławskiej.
        Stoją za nią studenci z trzech kół naukowych oraz Samorząd Studencki Wydziału Matematyki.
        Wydarzenie kierujemy do studentów matematyki i kierunków pokrewnych z całego kraju.
      <br />
      <br />
        Po co to robimy?
        Żeby dać Wam przestrzeń do pokazania wyników swoich badań,
        podzielenia się matematyczną zajawką i posłuchania o tym, co fascynuje innych.
        Spotykamy się stacjonarnie, bo wiemy,
        że najlepsze dyskusje i tak toczą się w przerwach przy kawie.
        OMatKo!!! to nie tylko dawka wiedzy, ale przede wszystkim świetna okazja,
        żeby poznać ambitnych ludzi z innych uczelni i złapać nowe kontakty.
    </p>
        {{ with resources.GetMatch "images/previous*" }}
          <img class="about-image" src="{{ .RelPermalink }}" alt=" Poprzednia edycja" />
        {{ end }}
  </div>
  <div class="about-socials">
    <p><strong>Obserwujcie nas, by nie przegapić najważniejszych informacji!</strong></p>
    <div class="about-socials-icons">
      <a
        href="https://www.facebook.com/omatkopwr"
        target="_blank"
        rel="noreferrer noopener"
        ><i class="fa-brands fa-facebook"></i
      ></a>
      <a class="divider"></a>
      <a
        href="https://www.instagram.com/omatko.pwr/"
        target="_blank"
        rel="noreferrer noopener"
        ><i class="fa-brands fa-instagram"></i
      ></a>
    </div>
  </div>
</section>
