<section class="map" id="map">
  <h1>Lokalizacja</h1>
  <div class="map-container">
      <div class="map-text">
    <p>Konferencja OMatKo!!! odbywa się na terenie kampusu głównego Politechniki Wrocławskiej.</p>
        <p>Prelekcje i główna część konferencji odbędą się w Centrum Kongresowym:
          <strong>Budynek D-20, ul. Janiszewskiego 8, Wrocław.</strong></p>
        <p>W sobotę na wspólny obiad przejdziemy do pobliskiej Strefy Kultury Studenckiej:
          <strong>Budynek C-18 (SKS), ul. Hoene-Wrońskiego 10, Wrocław.</strong>
        </p>
        <p>Najwygodniej dotrzeć do nas komunikacją miejską, kierując się na <strong>Plac Grunwaldzki (Rondo Reagana).</strong></p>

  </div>
      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1972.1237990146756!2d17.057617865205476!3d51.11040639886749!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x470fe82ad77f2fc1%3A0x975e736516ce4742!2sD-20%20Politechnika%20Wroc%C5%82awska!5e0!3m2!1spl!2spl!4v1765128725972!5m2!1spl!2spl" width="100%" height="100%" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
</section>
