.last-editions a {
    text-decoration: none;
    color: black;
}

.last-edition-articles-container {
    display: flex;
    flex-direction: column;
}

.last-edition-articles-container h2 {
    text-transform: unset;
}

.last-edition-articles-container p {
    margin-bottom: 0;
}

.last-edition h1 {
    margin: 10px;
    border: none;
    font-size: 5rem;
    text-align: center;
}

.last-edition-header {
    margin-bottom: calc(0.5 * var(--element-padding))
}

.edition-date {
    font-size: var(--footnote-font-size);
    color: var(--footnote-font-color);
    margin-top: calc(0.5 * var(--element-padding));
    margin-bottom: var(--element-padding);
}

.article-banner {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.article-banner img {
    display: block;
    width: 100%;
    border-radius: var(--element-border-radius-large);
    box-shadow: var(--element-box-shadow);
}

@media (min-width: 1024px) {
    .article-banner {
        float: right;
        width: 50%;
        margin: var(--element-padding);
    }
}