.last-editions a {
    text-decoration: none;
    color: black;
}

.last-edition-articles-container {
    display: flex;
    flex-direction: column;
}

.last-edition-articles-container h2 {
    text-transform: unset;
}

.last-edition-articles-container p {
    margin-bottom: 0;
}

.last-edition h1 {
    margin: 10px;
    border: none;
    font-size: 5rem;
    text-align: center;
}

.article-banner {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.article-banner img {
    display: block;
    width: 100%;
    border-radius: var(--element-border-radius-large);
    box-shadow: var(--element-box-shadow);
}