:root {
    --o-green: #91c13fef;
    --o-blue: #4fbdc3ef;
    --o-orange: #f28f2def;
    --o-gray: #babab9ef;
    --background-color: white;
    --secondary-background-color: #f6f6f6;
    --element-box-shadow: 0 0 1px rgba(100, 100, 100, 0.4);
    --element-box-shadow-hover: 0 0px 1px rgba(100, 100, 100, 0.2), 0 0px 10px rgba(100, 100, 100, 0.15);
    --element-padding: 18px;
    --button-border-radius: 30px;
    --element-border-radius-large: 18px;
    --element-border-radius-medium: 9px;
    --section-width: calc(min(80vw - var(--element-padding), 1024px));
    --main-nav-margin: 70px;
    --section-padding: calc(var(--main-nav-margin)/2) calc((100vw - var(--section-width))/2);
    --font-size-paragraph: 1.1rem;
    --footnote-font-size: 0.9rem;
    --footnote-font-color: #818181;
}

@media (max-width: 768px) {
    :root {
        --element-padding: 14px;
        --button-border-radius: 30px;
        --element-border-radius-large: 18px;
        --element-border-radius-medium: 9px;
        --section-width: calc(96vw - var(--element-padding));
        --main-nav-margin: 50px;
        --font-size-paragraph: 1rem;
    }
}

* {
    font-family: "Google Sans Flex", Arial, sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
}

.green {
    background-color: var(--o-green);
}

.blue {
    background-color: var(--o-blue);
}

.orange {
    background-color: var(--o-orange);
}

.gray {
    background-color: var(--o-gray);
}

body {
    -webkit-tap-highlight-color: transparent;
    margin: 0;
    padding: 0;
    background-color: var(--background-color);
    object-fit: cover;
    max-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

h1 {
    font-family: "Quicksand", sans-serif;
    text-align: left;
    text-transform: lowercase;
    font-size: 1.6rem;
    font-weight: 700;
}

h1:first-letter {
    text-transform: uppercase;
}

h2 {
    font-family: "Quicksand", sans-serif;
    text-align: left;
    font-size: 1.3rem;
    font-weight: 600;
}

h3 {
    font-family: "Quicksand", sans-serif;
    text-align: left;
    font-size: var(--font-size-paragraph);
    font-weight: 600;
}

p {
    font-size: var(--font-size-paragraph);
}

strong {
    font-weight: 500;
}

section {
    padding: var(--section-padding);
}

section:first-of-type {
    padding-top: var(--main-nav-margin);
}

button {
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
}

main {
    flex: 1;
}

html {
    scroll-behavior: smooth;
    scroll-padding-top: calc(var(--main-nav-margin)/2);
    -webkit-text-size-adjust: 100%;
}
