.registration-content {
    display: flex;
    flex-direction: column;
    gap: var(--element-padding);
}

.registration-item {
    display: grid;
    grid-template-columns: 3fr 4fr;
    gap: var(--element-padding);
}

.registration-item#speaker {
    grid-template-columns: 4fr 3fr;
}

.registration-item h2 {
    margin-top: 0;
}

.registration-item-content {
    text-wrap: wrap;
    text-align: left;
}

.registration-item-button {
    display: flex;
    flex-direction: column;
    align-items: start;
}

.registration-item-image {
    box-shadow: var(--element-box-shadow);
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: var(--element-border-radius-large);
}

.registration-item-button a {
    padding: 10px;
    font-size: large;
    font-weight: 700;
    font-family: QuickSand, sans-serif;
    text-align: center;
    text-decoration: none;
    border: 0;
    border-radius: var(--button-border-radius);
    box-shadow: var(--element-box-shadow);
    cursor: pointer;
    transition: 0.5s ease;
    width: calc(0.3 * var(--section-width));
    box-sizing: border-box;
    color: white;
}

.registration-item-button a:not([href]) {
    cursor: not-allowed;
}

.registration-item-button a.green:hover {
    background-color: color-mix(in srgb, var(--o-green) 85%, white)
}

.registration-item-button a.blue:hover {
    background-color: color-mix(in srgb, var(--o-blue) 85%, white)
}

.registration-item-button a.orange:hover {
    background-color: color-mix(in srgb, var(--o-orange) 85%, white)
}

.registration-term {
    font-size: var(--footnote-font-size);
    color: var(--footnote-font-color);
}

@media screen and (max-width: 1024px) {
    .registration-item {
        display: flex;
        flex-direction: column;
    }

    .registration-item#speaker {
        flex-direction: column-reverse;
    }

    .registration-item-button a {
        width: 100%;
    }

}

@media screen and (max-width: 768px) {

    .registration-item-button a {
        font-size: medium;
    }
}
