<section class="about">
  <h1>O konferencji</h1>
  <div class="about-content">
    <p class="about-text">
      <strong
        >Ogólnopolska Matematyczna Konferencja Studentów „OMatKo!!!”</strong
      >
      powstała z inicjatywy studentów matematyki Politechniki Wrocławskiej
      zrzeszonych w trzech kołach naukowych oraz w Samorządzie Studenckim
      Wydziału Matematyki i przeznaczona jest dla studentów matematyki i
      kierunków pokrewnych z całego kraju.
      <br />
      <br />
      Celem konferencji „OMatKo!!!” jest rozwój naukowy uczestników, oferując im
      możliwość prezentowania fascynujących tematów, najnowszych wyników badań
      oraz dzielenie się swoją pasją z innymi studentami. W tym roku,
      kontynuując tradycję spotkań stacjonarnych, zapraszamy do bezpośredniego
      uczestnictwa i interakcji. Ta edycja konferencji „OMatKo!!!” obiecuje być
      jeszcze bardziej inspirująca i stworzy przestrzeń do nawiązywania nowych,
      wartościowych kontaktów między ambitnymi młodymi ludźmi z różnych uczelni.
    </p>
    <div class="about-image">
      <img src="2024.png" />
    </div>
  </div>
  <div class="about-socials">
    <p>Obserwujcie nas by nie przegapić najważniejszych informacji!</p>
    <div class="about-socials-icons">
      <a href=""><i class="fa-brands fa-facebook"></i></a>
      <a href=""><i class="fa-brands fa-instagram"></i></a>
    </div>
  </div>
</section>
