<div class="footer-content">
  <div class="footer-logo">
    <a href="/"><img alt="Logo OMatKo" src="/logo.webp" /></a>
  </div>
  <div class="footer-links">
    {{ if site.Params.show_regulamin}}
    <a href="/regulamin.pdf">Regulamin</a>
    {{ end }}
    <a href="mailto:omatko@pwr.edu.pl">Kontakt</a>
    <a href="https://www.instagram.com/omatko.pwr/">Instagram</a>
    <a href="https://www.facebook.com/omatkopwr">Facebook</a>
    <!-- <a href="https://www.linkedin.com/omatkopwr">LinkedIn</a> !-->
  </div>

</div>
<div class="footer-signature">
  <p>Ogólnopolska Matematyczna Konferencja Studentów {{ now.Year }}</p>
</div>