 <div class="footer-content">
   <div class="footer-section">
  <a href="/"><img class="footer-logo" src="/logo.webp" alt="Logo OMatKo" /></a>
     </div>
<div class="footer-section">
  <a href="/regulamin.pdf">Regulamin</a>
  <a href="mailto:omatko@pwr.edu.pl">Kontakt</a>
  <a href="https://www.instagram.com/omatko.pwr/">Instagram</a>
  <a href="https://www.facebook.com/omatkopwr">Facebook</a>

</div>
<div class="footer-section">
  <a><img src="/sponsors/placeholder.webp" alt="logo 1"></a>
  <a><img src="/sponsors/placeholder.webp" alt="logo kolo 1"></a>
    <a><img src="/sponsors/placeholder.webp" alt="logo kolo 2"></a>
    <a><img src="/sponsors/placeholder.webp" alt="logo kolo 3"></a>
</div>
   <div class="footer-section">
  <a><img src="/sponsors/placeholder.webp" alt="logo politechnika"></a>
  <a><img src="/sponsors/placeholder.webp" alt="logo wmat"></a>
</div>
 </div>
   <div class="footer-signature">Ogólnopolska Matematyczna Konferencja Studentów {{ now.Year }}</div>