<div id="timer-{{ .id }}">
  <div class="countdown-item">
    <span class="countdown-number">00</span>
    <span class="countdown-label">Dni</span>
  </div>
  <div class="countdown-item">
    <span class="countdown-number">00</span>
    <span class="countdown-label">Godzin</span>
  </div>
  <div class="countdown-item">
    <span class="countdown-number">00</span>
    <span class="countdown-label">Minut</span>
  </div>
  <div class="countdown-item">
    <span class="countdown-number">00</span>
    <span class="countdown-label">Sekund</span>
  </div>
</div>
