{{ define "main" }}
  <section class="organizers">
    <h1>sztab</h1>
    <div class="organizers-container">
      <h2>Koordynatorzy główni</h2>
      <div class="team">
        {{ range $_, $coordinator_data := .Site.Data.organizers.coordinators }}
          <div class="organizer">
            <img
              src="photos/{{ $coordinator_data.img_name }}"
              alt="{{ $coordinator_data.name }}"
            />
            <div class="organizer-info">
              <h4>{{ $coordinator_data.name }}</h4>
              <p>{{ $coordinator_data.title }}</p>
            </div>
          </div>
        {{ end }}
      </div>
      <h2>Koordynatorzy sekcji</h2>
      <div class="team">
        {{ range $_, $section_head_data := .Site.Data.organizers.section_heads }}
          <div class="organizer">
            <img
              src="photos/{{ $section_head_data.img_name }}"
              alt="{{ $section_head_data.name }}"
            />
            <div class="organizer-info">
              <h4>{{ $section_head_data.name }}</h4>
              <p>{{ $section_head_data.section }}</p>
            </div>
          </div>
        {{ end }}
      </div>
      <h2>Członkowie sekcji</h2>
      <div class="team">
        {{ range $_, $team_data := .Site.Data.organizers.team }}
          <div class="organizer">
            <img
              src="photos/{{ $team_data.img_name }}"
              alt="{{ $team_data.name }}"
            />
            <div class="organizer-info">
              <h4>{{ $team_data.name }}</h4>
            </div>
          </div>
        {{ end }}
      </div>
    </div>
  </section>
{{ end }}
