<section class="banner">
  <div class="banner-logo">
    <img src="logo.webp" alt="Logo OMatKo" />
    <p>XII Edycja Ogólnopolskiej Matematycznej Konferencji Studentów</p>
    <p>5-7 grudnia 2025</p>
  </div>
  <div class="banner-timer">
    <p>Pozostało:</p>
    <div id="timer">
      <div class="countdown-item">
        <span class="countdown-number" style="color: var(--o-green)">00</span>
        <span class="countdown-label">Dni</span>
      </div>
      <div class="countdown-item">
        <span class="countdown-number" style="color: var(--o-blue)">00</span>
        <span class="countdown-label">Godzin</span>
      </div>
      <div class="countdown-item">
        <span class="countdown-number" style="color: var(--o-orange)">00</span>
        <span class="countdown-label">Minut</span>
      </div>
      <div class="countdown-item">
        <span class="countdown-number" style="color: var(--o-gray)">00</span>
        <span class="countdown-label">Sekund</span>
      </div>
    </div>
    <script>
      function countdownToDate(targetDate, elementId) {
        const timer = document.getElementById(elementId);

        if (!timer) {
          console.error("Timer element not found");
          return;
        }

        function updateTimer() {
          const now = new Date();
          const distance = targetDate - now;
          console.log("XDDD");
          if (distance < 0) {
            clearInterval(interval);
            timer.innerHTML =
              "<div class='countdown-end'>Konferencja rozpoczęta!</div>";
            return;
          }

          const days = Math.floor(distance / (1000 * 60 * 60 * 24));
          const hours = Math.floor(
            (distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60),
          );
          const minutes = Math.floor(
            (distance % (1000 * 60 * 60)) / (1000 * 60),
          );
          const seconds = Math.floor((distance % (1000 * 60)) / 1000);

          const formattedValues = [
            days.toString().padStart(2, "0"),
            hours.toString().padStart(2, "0"),
            minutes.toString().padStart(2, "0"),
            seconds.toString().padStart(2, "0"),
          ];

          timer.querySelectorAll(".countdown-number").forEach((ele, i) => {
            ele.textContent = formattedValues[i];
          });
        }
        updateTimer();
        const interval = setInterval(updateTimer, 1000);
      }

      // Usage
      document.addEventListener("DOMContentLoaded", function () {
        const targetDate = new Date(2025, 11, 5, 10, 0, 0); // KTO JEST TAKIM DEBILEM ŻEBY LICZYĆ MIESIĄCE OD ZERA?????????????????????????????
        countdownToDate(targetDate, "timer");
      });
    </script>
  </div>
</section>
