<section class="banner">
  <div class="banner-logo">
    <img src="logo.webp" alt="Logo OMatKo" />
    <!-- <p>XII Edycja Ogólnopolskiej Matematycznej Konferencji Studentów</p> -->
    <!-- <p>5-7 grudnia 2025</p> -->
     <p>DO ZOBACZENIA NIEDŁUGO!</p>
  </div>
  <!-- <div class="banner-timer">
    <p>Pozostało:</p>
    <div id="timer">
      <div class="countdown-item">
        <span class="countdown-number" style="color: var(--o-green)">00</span>
        <span class="countdown-label">Dni</span>
      </div>
      <div class="countdown-item">
        <span class="countdown-number" style="color: var(--o-blue)">00</span>
        <span class="countdown-label">Godzin</span>
      </div>
      <div class="countdown-item">
        <span class="countdown-number" style="color: var(--o-orange)">00</span>
        <span class="countdown-label">Minut</span>
      </div>
      <div class="countdown-item">
        <span class="countdown-number" style="color: var(--o-gray)">00</span>
        <span class="countdown-label">Sekund</span>
      </div>
    </div>
    <script>
      // Usage
      document.addEventListener("DOMContentLoaded", function () {
        const targetDate = new Date(2025, 11, 5, 10, 0, 0);
        countdownToDate(targetDate, "timer", "Konferencja rozpoczęta!");
      });
    </script> -->
  </div>
</section>
