<section class="registration" id="registration">
  <h1>Zapisy</h1>
  <div class="registration-content">
    <div
      class="registration-item {{ if not .Site.Params.participant_url }}
        registration-closed
      {{ end }}"
    >
      <div class="registration-item-content">
        <h2>uczestnik</h2>
        {{ if .Site.Params.participant_url }}
          <p>Cośtam</p>
        {{ end }}
      </div>
      {{ if .Site.Params.participant_url }}
        <div class="registration-item-button">
          <p>Termin: -</p>
          <a href="{{ .Site.Params.participant_url }}"
            ><button class="green">zapisz się</button></a
          >
        </div>
      {{ else }}
        {{ partial "reg-timer.html" (dict "id" "audience") }}
        <script>
          document.addEventListener("DOMContentLoaded", function () {
            const targetDate = new Date("{{ .Site.Params.participant_reg_open }}");
            countdownToDate(targetDate, "timer-audience");
          });
        </script>
      {{ end }}
    </div>
    <div
      class="registration-item {{ if not .Site.Params.speaker_url }}
        registration-closed
      {{ end }}"
    >
      <div class="registration-item-content">
        <h2>prelegent</h2>
        {{ if .Site.Params.speaker_url }}
          <p>Podziel się swoją wiedzą w formie wykładu!</p>
        {{ end }}
      </div>
      {{ if .Site.Params.speaker_url }}
        <div class="registration-item-button">
          <p>Termin: 31.10.2025</p>
          <a href="{{ .Site.Params.speaker_url }}"
            ><button class="blue">zapisz się</button></a
          >
        </div>
      {{ else }}
        {{ partial "reg-timer.html" (dict "id" "speaker") }}
        <script>
          document.addEventListener("DOMContentLoaded", function () {
            const targetDate = new Date("{{ .Site.Params.active_reg_open }}");
            countdownToDate(targetDate, "timer-speaker");
          });
        </script>
      {{ end }}
    </div>
    <div
      class="registration-item {{ if not .Site.Params.poster_url }}
        registration-closed
      {{ end }}"
    >
      <div class="registration-item-content">
        <h2>plakat</h2>
        {{ if .Site.Params.poster_url }}
          <p>Wykaż się kreatywnością przygotowując plakat!</p>
        {{ end }}
      </div>
      {{ if .Site.Params.poster_url }}
        <div class="registration-item-button">
          <p>Termin: 31.10.2025</p>
          <a href="{{ .Site.Params.poster_url }}"
            ><button class="orange">zapisz się</button></a
          >
        </div>
      {{ else }}
        {{ partial "reg-timer.html" (dict "id" "posters") }}
        <script>
          document.addEventListener("DOMContentLoaded", function () {
            const targetDate = new Date("{{ .Site.Params.active_reg_open }}");
            countdownToDate(targetDate, "timer-posters");
          });
        </script>
      {{ end }}
    </div>
  </div>
</section>
