<section class="registration">
  <h1>Zapisy</h1>
  <div class="registration-content">
    <div class="registration-item">
      <div class="registration-item-content">
        <h2>uczestnik</h2>
        <p>Cośtam</p>
      </div>
      <div class="registration-item-button">
        <p>Termin: 07.12.2025</p>
        <a href="{{ .Site.Params.participant_url }}"
          ><button class="green">zapisz się</button></a
        >
      </div>
    </div>
    <div class="registration-item">
      <div class="registration-item-content">
        <h2>prelegent</h2>
        <p>Cośtam</p>
      </div>
      <div class="registration-item-button">
        <p>Termin: 07.12.2025</p>
        <a href="{{ .Site.Params.speaker_url }}"
          ><button class="blue">zapisz się</button></a
        >
      </div>
    </div>
    <div class="registration-item">
      <div class="registration-item-content">
        <h2>plakaty</h2>
        <p>Cośtam</p>
      </div>
      <div class="registration-item-button">
        <p>Termin: 07.12.2025</p>
        <a href="{{ .Site.Params.poster_url }}"
          ><button class="orange">zapisz się</button></a
        >
      </div>
    </div>
  </div>
</section>
