{{- $day := . -}}
{{- $schedule := index site.Data.schedule $day -}}


<div id="schedule-{{ $day }}" class="schedule-day hidden">
  {{- range $slot := $schedule }}
    <div class="time-slot">
      <div class="time">{{ $slot.time }}</div>
      <div class="events">
        {{- range $event := $slot.events }}
          <div class="event {{ $event.type }}">
            <div {{ if $event.abstract }}class="event-details"{{ end }}>
              {{ if $event.abstract }}
              {{ end }}
              <strong>{{ $event.name }}</strong> {{ if $event.author }}
                -
              {{ end }}
              {{ $event.author }}

              {{/* ({{ $event.location }}) */}}
            </div>
            {{ if $event.abstract }}
              <div class="event-abstract hidden">
                <p class="event-abstract-content">
                  {{ $event.abstract }}
                </p>
              </div>
            {{ end }}
          </div>
        {{- end }}
      </div>
    </div>
  {{- end }}
</div>
