<section class="sponsors" id="sponsors">
  <h1>sponsorzy</h1>
  <div class="main-sponsors">
    <h2>sponsor główny</h2>
    <div class="main-sponsors-container">
      {{ $images := readDir "static/sponsors/main" }}
      {{ range $images }}
        {{ if not .IsDir }}
          <img
            class="main-sponsor-img"
            src="{{ (printf "patrons/%s" .Name) | relURL }}"
            alt="{{ .Name }}"
          />
        {{ end }}
      {{ end }}
    </div>
    <div class="normal-sponsors">
      <h2>sponsorzy i partnerzy</h2>
      <div class="normal-sponsors-container">
        {{ $images := readDir "static/sponsors" }}
        {{ range $images }}
          {{ if not .IsDir }}
            <img
              class="sponsor-img"
              src="{{ (printf "patrons/%s" .Name) | relURL }}"
              alt="{{ .Name }}"
            />
          {{ end }}
        {{ end }}
      </div>
    </div>
  </div>
</section>
